.App {
    text-align: center;
    background-color: AliceBlue;  
    color: rgb(77, 76, 76);
    display: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    
  }
  
  .App h1{
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 40px;
  }
  
  .App form label{
    font-weight: bold;
  }
  
  .input_field{
    line-height: 35px;
    margin-bottom: 30px;
    width: 470px;
  
  }
  
  .b{
    padding-bottom: 40px;
  }
  
  ::placeholder {
    text-align: center; 
  }
  
  .child table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 480px;
  }
  
  .child table th{
    text-align: left;
  }
  .child table td{
    padding-top: auto;
  }
  
  .td1 input{
    width: 320px;
    height: 30px;
    line-height: 35px;
  }
  
  .td2 input{
    width: 50px;
    height: 30px;
    line-height: 35px;
  }
  
  .td3 input{
    width: 50px;
    height: 30px;
    line-height: 40px;
  }
  .child table tbody tr td{
    padding-right: 10px;
  }
  
  .button{
      margin-top: 30px;
      margin-bottom: 30px;
      width: 165px;
      height: 45px;
      border: none;
      outline: none;
      background: #7b7777;
      color: #fff;
      font-size: 19px;
      border-radius: 40px;
      text-align: center;
  
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
  
     opacity: 1;
  
  }